body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-family: "Gill Sans", sans-serif;
}

.head {
  display: flex;
  height: 300px;
  border-bottom: 5px solid orange;
}

@media (max-width: 1024px) {
  .head {
    height: 40vh;
  }
}

@media (max-width: 756px) {
  .head {
    height: 31%;
  }
}

.head .img {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../papa-color.jpeg");
  background-position-x: right;
  width: 360px;
}
@media (max-width: 800px) {
  .head .img {
    width: 100%;
  }
}
@media (max-width: 380px) {
  .head .img {
    width: 200%;
  }
}

.head p {
  font-style: italic;
}

.head .heading {
  margin: 0;
  background-color: antiquewhite;
  font-size: 1.2rem;
  border-left: 5px solid orange;
  width: 100%;
  padding: 3%;
}
@media (max-width: 380px) {
  .head .heading {
    padding: 10px;
    font-size: 1rem;
  }
}
@media (max-width: 322px) {
  .head .heading {
    padding: 10px;
    font-size: 0.8rem;
  }
}

.info {
  margin-top: 5%;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  background-color: orange;
  color: white;
  padding: 3px;
}

.info p {
  text-align: center;
  margin: 10px;
  font-size: 1rem;
}

.alert {
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  font-size: 1em;
  background-color: orange;
  color: antiquewhite;
  width: 100%;
}

@media (max-width: 380px) {
  .alert {
    font-size: 0.8rem;
  }
}
